# ignore vscode directory
.vscode

# ignore pdf files
*.pdf

# ignore object files
*.o

# ignore test program
testy/test_ft_isalnum
testy/test_ft_isalpha
testy/test_ft_isascii
testy/test_ft_isdigit
testy/test_ft_isprint
libft.a
